body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #282D35;
    color: black;
}

.navbar{
    display: flex;
    align-items: center;
    background-color: black;
    height: 40px;
    padding: 30px 25px;
    color: white;
}

.navbar h3, h4{
    margin: 0;
    font-weight: 700;
}

.navbar h3{
    margin-right: auto;
    color: aqua;
    font-size: 22px;
}

.img-nav{
    height: 30px;
    margin-right: 7px;
}

main{
    color: white;
    padding: 57px 27px;
    background-image: url('./images/react-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}

.main-header{
    margin: 0;
    font-size: 39px;
}

.main-fact{
    margin-top: 46px;
}

.main-fact li{
    padding: 10px;
}

.main-fact li::marker{
    font-size: 1.4rem;
    color: aqua;
}

.contact-card{
    position: absolute;
    margin: 20px;
    border-radius: 10px;
    background-color: white;
    height: 450px;
    width: 325px;
    border: solid black;
}

.contact-img{
    margin: 10px;
    border-radius: 5px;
    height: 220px;
    width: 300px;
}

.info-container{
    text-align: left;
    margin: 10px;
    padding: 10px;
}

.info-container h1{
    font-size: 30px;
}

.main-cards{
    display: flex;
    display: inline-block;
    padding: 200px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;

}

.props-container{
    text-align: left;
    margin: 5px;
    padding: 5px;
}

.props-container li{
    padding: 5px;
}

.props-container li::marker{
    color: cyan;
}

.home-page{
    background-image: url("./images/react-icon.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 25px 25px;
}